In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup, SoupStrainer
import sys
import string
import requests
import datetime
import progressbar
import time

In [2]:
def player_info():
    '''
    TO get the basketball-refernce and extract player's info
    '''
    
    players = []
    base_url = 'http://www.basketball-reference.com/players/'
    
    #get player tables from alphabet list pages
    for letter in string.ascii_lowercase:
        page_request = requests.get(base_url + letter)
        
        soup = BeautifulSoup(page_request.text, "lxml")
        #find the table
        
        table = soup.find('table')
        
        if table:
            table_body = table.find('tbody')
            
            #loop over the list of players
            for row in table_body.findAll('tr'):
                
                #get name ans url
                player_url = row.find('a')
                player_names = row.find('a').text
                player_pages = player_url['href']
                
                #get some player's info from table
                cells = row.findAll('td')
                active_from = int(cells[0].text)
                active_to = int(cells[1].text)
                position = cells[2].text
                height = cells[3].text
                weight = cells[4].text
                birth_date = cells[5].text
                college = cells[6].text
                
                
                #create entry
                player_entry = {'url' : player_pages,
                                'name' : player_names,
                                'active_from' : active_from,
                                'active_to' : active_to,
                                'position' : position,
                                'college' : college,
                                'height' : height,
                                'weight' : weight,
                                'birth_date': birth_date}
                
                #append it to the dictionary
                players.append(player_entry)
                
    return pd.DataFrame(players)

In [3]:
#call the function to get the general info
players_general_info = player_info()

In [4]:
#first few enteries
players_general_info.head()

,active_from,active_to,birth_date,college,height,name,position,url,weight
0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240
1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235
2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225
3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162
4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223

In [32]:
#player info 

def player_detail_info(url):
    '''
    getting the player's personal page
    
    Input :: players url (w/o www.basketball-reference.com)
    '''
    #we do not parse the whole page cause the info we need is on;y a samll part
    
    personal = SoupStrainer('p')
    page_request = requests.get('http://www.basketball-reference.com' + url)
    #parse only the part we are interested in
    soup = BeautifulSoup(page_request.text, "lxml" , parse_only = personal)
    p = soup.findAll('p')
    
    #initialize the values - sometiems they are not available 
    shoots = None
    birth_place = None
    high_school = None
    draft = None
    position_str = None
    
    #loop over personal info to get certain information
    for prow in p:
        #looking for shoots field
        if 'Shoots:' in prow.text:
            s = prow.text.replace('\n', '').split(u'\u25aa') #clean text
            if len(s) >1:
                shoots = s[1].split(':')[1].lstrip().rstrip()
        
        #looking for position
        elif 'Position:' in prow.text:
            s = prow.text.replace('\n', '').split(u'\u25aa') #clean text
            if len(s) > 1:
                position_str = s[0].split(':')[1].lstrip().rstrip()
            else:
                position_str = prow.text.split('Position:')[1].lstrip().rstrip() #when shoots does not exist
                
        #look for Born
        elif 'Born:' in prow.text:
            s = prow.text.split(u'in\xa0') #clean text
            if len(s) > 1:
                birth_place = s[1]
                
        elif 'High School:' in prow.text:
            s= prow.text.replce('\n','').split(':')
            if len(s) > 1:
                high_school = s[1].lstrip()
        
        elif 'Draft:' in prow.text:
            s = prow.text.replace('\n','').split(':')
            if len(s) > 1:
                draft = s[1].lstrip()
    
    #creating a dictionary
    
    player_enter = {'url' : url,
                   'birth_place' : birth_place,
                   'shoots' : shoots,
                   'high_school' : high_school,
                   'draft' : draft,
                   'position_str' : position_str}
    
    return player_entry

In [5]:
def player_detail_info(url):
    '''
    scrape player's personal page. Input is players url (without  www.basketball-reference.com)
    '''
    # we do not need to parse the whole page since the information we are interested in is only a small part
    personal = SoupStrainer('p')
    page_request = requests.get('http://www.basketball-reference.com' + url)
    soup = BeautifulSoup(page_request.text,"lxml",parse_only=personal) # parse only part we are interested in
    p = soup.findAll('p') 

    # initialize some values - sometimes they are not available
    shoots = None
    birth_place = None
    high_school = None
    draft = None
    position_str = None

    # loop over personal info to get certain information
    for prow in p:
        # look for shoots field
        if 'Shoots:' in prow.text:
            s = prow.text.replace('\n','').split(u'\u25aa') # clean text
            if len(s)>1:
                shoots = s[1].split(':')[1].lstrip().rstrip()
        # look for position
        elif 'Position:' in prow.text:
            s = prow.text.replace('\n','').split(u'\u25aa')
            if len(s)>1:
                position_str = s[0].split(':')[1].lstrip().rstrip()
            else:
                position_str = prow.text.split('Position:')[1].lstrip().rstrip() # when shoots does not exist we need this
        # look for born
        elif 'Born:' in prow.text:
            s = prow.text.split(u'in\xa0') # clean text
            if len(s)>1:
                birth_place = s[1]
        elif 'High School:' in prow.text:
            s = prow.text.replace('\n','').split(':') 
            if len(s)>1:
                high_school = s[1].lstrip()
        elif 'Draft:' in prow.text:
            s = prow.text.replace('\n','').split(':')
            if len(s)>1:
                draft = s[1].lstrip()

    # create dictionary with all of the info            
    player_entry = {'url': url,
                    'birth_place': birth_place,
                    'shoots': shoots,
                    'high_school': high_school,
                    'draft': draft,
                    'position_str': position_str}

    return player_entry

In [6]:
players_details_info_list = []

bar = progressbar.ProgressBar(max_value = len(players_general_info))

for i, url in enumerate(players_general_info.url):
    try:
        players_details_info_list.append(player_detail_info(url))
    except:
        print('cannot load %s; location %d' %(url,i))
    bar.update(i)
    time.sleep(0.1)

 99% (4655 of 4656) |################### | Elapsed Time: 4:56:47 ETA:   0:00:03

In [47]:
players_detail_df = pd.DataFrame(players_details_info_list)

In [48]:
players_detail_df.head()

,birth_place,draft,high_school,position_str,shoots,url
0,"Cairo, Egypt\neg\n","Portland Trail Blazers, 1st round (25th pick, ...","Bloomfield in Bloomfield, New Jersey",None,Right,/players/a/abdelal01.html
1,"Brooklyn, New York\nus\n","Cincinnati Royals, 1st round (5th pick, 5th ov...","John Jay in Brooklyn, New York",None,Right,/players/a/abdulza01.html
2,"New York, New York\nus\n","Milwaukee Bucks, 1st round (1st pick, 1st over...","Power Memorial in New York, New York",None,Right,/players/a/abdulka01.html
3,"Gulfport, Mississippi\nus\n","Denver Nuggets, 1st round (3rd pick, 3rd overa...","Gulfport in Gulfport, Mississippi",None,Right,/players/a/abdulma02.html
4,"Maisons Alfort, France\nfr\n","Sacramento Kings, 1st round (11th pick, 11th o...","Lycee Aristide Briand in Evreux, France",None,Right,/players/a/abdulta01.html

In [49]:
players_df = players_general_info.merge(players_detail_df,how='outer',on='url')
players_df.head()

,active_from,active_to,birth_date,college,height,name,position,url,weight,birth_place,draft,high_school,position_str,shoots
0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240,"Cairo, Egypt\neg\n","Portland Trail Blazers, 1st round (25th pick, ...","Bloomfield in Bloomfield, New Jersey",None,Right
1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235,"Brooklyn, New York\nus\n","Cincinnati Royals, 1st round (5th pick, 5th ov...","John Jay in Brooklyn, New York",None,Right
2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225,"New York, New York\nus\n","Milwaukee Bucks, 1st round (1st pick, 1st over...","Power Memorial in New York, New York",None,Right
3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162,"Gulfport, Mississippi\nus\n","Denver Nuggets, 1st round (3rd pick, 3rd overa...","Gulfport in Gulfport, Mississippi",None,Right
4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223,"Maisons Alfort, France\nfr\n","Sacramento Kings, 1st round (11th pick, 11th o...","Lycee Aristide Briand in Evreux, France",None,Right

In [50]:
players_df.to_csv('player_info_raw.csv', encoding='utf-8')

In [51]:
players_df.dtypes

active_from      int64
active_to        int64
birth_date      object
college         object
height          object
name            object
position        object
url             object
weight          object
birth_place     object
draft           object
high_school     object
position_str    object
shoots          object
dtype: object

In [52]:
# convert weight to integer
players_df['weight'] = pd.to_numeric(players_df['weight'], errors='coerce')

# convert height to inches
height_in_inches = players_df['height'].str.split('-',expand=True)
players_df['height_in_inches'] = 12.0*pd.to_numeric(height_in_inches[0], errors='coerce')+pd.to_numeric(height_in_inches[1], errors='coerce')

# calculate BMI for each player
players_df['BMI'] = (players_df['weight'].values/2.2)/(players_df['height_in_inches'].values*2.54/100)**2

# convert birth date into datetime 
players_df['birth_date'] = pd.to_datetime(players_df['birth_date'], format='%B %d, %Y', errors='coerce')

# clean birth place and split the country
players_df[['birth_place','birth_country']] = players_df['birth_place'].str.split('\n',expand=True).iloc[:,:2]

In [53]:
# split high school into state and city
def split_highschool(x):
    '''
    Takes string with the following input - high school name in city, state
    and return the name, city and state
    '''
    if x:
        s = x.split(' in ')[1].split(',')
        if len(s)==2:
            city = s[0].lstrip().rstrip()
            state = s[1].lstrip().rstrip()
            name = x.split(' in ')[0]
        else:
            city = None
            state = x.split(' in ')[1]
            name = x.split(' in ')[0]
    else:
        city = None
        state = None
        name = None
    return pd.Series([city, state, name], index=['city','state','name'])

# now apply the function
players_df[['hs_city','hs_state','hs_name']] = players_df['high_school'].apply(split_highschool)

In [54]:
players_df.head()

,active_from,active_to,birth_date,college,height,name,position,url,weight,birth_place,draft,high_school,position_str,shoots,height_in_inches,BMI,birth_country,hs_city,hs_state,hs_name
0,1991,1995,1968-06-24,Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,"Cairo, Egypt","Portland Trail Blazers, 1st round (25th pick, ...","Bloomfield in Bloomfield, New Jersey",None,Right,82.0,25.147419,eg,Bloomfield,New Jersey,Bloomfield
1,1969,1978,1946-04-07,Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,"Brooklyn, New York","Cincinnati Royals, 1st round (5th pick, 5th ov...","John Jay in Brooklyn, New York",None,Right,81.0,25.235256,us,Brooklyn,New York,John Jay
2,1970,1989,1947-04-16,"University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,"New York, New York","Milwaukee Bucks, 1st round (1st pick, 1st over...","Power Memorial in New York, New York",None,Right,86.0,21.433619,us,New York,New York,Power Memorial
3,1991,2001,1969-03-09,Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,"Gulfport, Mississippi","Denver Nuggets, 1st round (3rd pick, 3rd overa...","Gulfport in Gulfport, Mississippi",None,Right,73.0,21.418013,us,Gulfport,Mississippi,Gulfport
4,1998,2003,1974-11-03,"University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,"Maisons Alfort, France","Sacramento Kings, 1st round (11th pick, 11th o...","Lycee Aristide Briand in Evreux, France",None,Right,78.0,25.824121,fr,Evreux,France,Lycee Aristide Briand

In [55]:
players_df.to_csv('player_info_clean.csv', encoding='utf-8')

In [56]:
#Getting population data per state
url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_by_historical_population'
page_request = requests.get(url)
soup = BeautifulSoup(page_request.text,"lxml")
table = soup.findAll('table')

# looking at the source code, there are a few different tables. 
# The 5th table contains all of the raw data (rounded to the thousand)
#do inspect the element to find out the number of the table
raw_data = table[4].findAll('td') # get all the numbers
st = table[4].findAll('th') # get all the states names

In [57]:
data = []
for row in raw_data:
    # if data is unavailable then insert NaN
    if 'n/a' in row:
        data.append(np.nan)
    else:
        data.append(row.text.replace(',','')) # remove , from numbers
        
# get the list of states        
state = []
for row in st:
    state.append(row.text)

In [58]:
data

['1900',
 '1830000',
 nan,
 '124000',
 '1314000',
 '1490000',
 '543000',
 '910000',
 '185000',
 '530000',
 '2220000',
 nan,
 '163000',
 '4828000',
 '2518000',
 '2231000',
 '1473000',
 '2148000',
 '1384000',
 '695000',
 '1189000',
 '2788000',
 '2423000',
 '1754000',
 '1553000',
 '3108000',
 '245000',
 '1067000',
 '43000',
 '412000',
 '1884000',
 '196000',
 '7283000',
 '1897000',
 '321000',
 '4161000',
 '800000',
 '415000',
 '6313000',
 '430000',
 '1342000',
 '403000',
 '2023000',
 '3055000',
 '277000',
 '344000',
 '1858000',
 '523000',
 '959000',
 '2072000',
 '93000',
 '278000\n',
 '1901',
 '1907000',
 nan,
 '131000',
 '1341000',
 '1550000',
 '581000',
 '931000',
 '187000',
 '544000',
 '2263000',
 nan,
 '176000',
 '4914000',
 '2541000',
 '2227000',
 '1490000',
 '2162000',
 '1412000',
 '699000',
 '1200000',
 '2794000',
 '2450000',
 '1805000',
 '1578000',
 '3128000',
 '261000',
 '1078000',
 '45000',
 '412000',
 '1889000',
 '206000',
 '7449000',
 '1926000',
 '346000',
 '4216000',
 '916000',
 '434000',
 '6439000',
 '441000',
 '1361000',
 '418000',
 '2041000',
 '3132000',
 '284000',
 '347000',
 '1887000',
 '583000',
 '972000',
 '2109000',
 '100000',
 '285000\n',
 '1902',
 '1935000',
 nan,
 '138000',
 '1360000',
 '1623000',
 '621000',
 '952000',
 '188000',
 '565000',
 '2305000',
 nan,
 '199000',
 '4992000',
 '2567000',
 '2222000',
 '1505000',
 '2177000',
 '1440000',
 '703000',
 '1210000',
 '2856000',
 '2477000',
 '1862000',
 '1603000',
 '3147000',
 '270000',
 '1089000',
 '49000',
 '409000',
 '1917000',
 '218000',
 '7612000',
 '1956000',
 '371000',
 '4322000',
 '1027000',
 '454000',
 '6567000',
 '450000',
 '1379000',
 '431000',
 '2060000',
 '3210000',
 '292000',
 '349000',
 '1894000',
 '651000',
 '1000000',
 '2141000',
 '105000',
 '290000\n',
 '1903',
 '1957000',
 nan,
 '144000',
 '1384000',
 '1702000',
 '652000',
 '972000',
 '190000',
 '587000',
 '2346000',
 nan,
 '216000',
 '5071000',
 '2594000',
 '2217000',
 '1498000',
 '2191000',
 '1467000',
 '709000',
 '1209000',
 '2924000',
 '2505000',
 '1901000',
 '1628000',
 '3166000',
 '282000',
 '1104000',
 '52000',
 '394000',
 '1969000',
 '229000',
 '7771000',
 '1986000',
 '396000',
 '4386000',
 '1118000',
 '479000',
 '6699000',
 '460000',
 '1397000',
 '437000',
 '2082000',
 '3291000',
 '299000',
 '350000',
 '1890000',
 '719000',
 '1037000',
 '2171000',
 '108000',
 '295000\n',
 '1904',
 '1978000',
 nan,
 '151000',
 '1419000',
 '1792000',
 '659000',
 '987000',
 '192000',
 '599000',
 '2387000',
 nan,
 '229000',
 '5161000',
 '2614000',
 '2212000',
 '1527000',
 '2205000',
 '1495000',
 '719000',
 '1217000',
 '2969000',
 '2534000',
 '1945000',
 '1653000',
 '3185000',
 '293000',
 '1119000',
 '56000',
 '407000',
 '2050000',
 '242000',
 '7927000',
 '2017000',
 '421000',
 '4458000',
 '1200000',
 '504000',
 '6833000',
 '471000',
 '1415000',
 '452000',
 '2086000',
 '3374000',
 '308000',
 '353000',
 '1889000',
 '782000',
 '1064000',
 '2202000',
 '111000',
 '302000\n',
 '1905',
 '2012000',
 nan,
 '158000',
 '1447000',
 '1893000',
 '680000',
 '1010000',
 '194000',
 '615000',
 '2427000',
 nan,
 '246000',
 '5241000',
 '2635000',
 '2211000',
 '1555000',
 '2220000',
 '1523000',
 '723000',
 '1237000',
 '3018000',
 '2579000',
 '1981000',
 '1678000',
 '3204000',
 '305000',
 '1129000',
 '59000',
 '423000',
 '2151000',
 '255000',
 '8084000',
 '2051000',
 '446000',
 '4530000',
 '1277000',
 '530000',
 '6970000',
 '481000',
 '1433000',
 '461000',
 '2111000',
 '3459000',
 '316000',
 '354000',
 '1917000',
 '842000',
 '1094000',
 '2231000',
 '114000',
 '308000\n',
 '1906',
 '2045000',
 nan,
 '167000',
 '1465000',
 '1976000',
 '707000',
 '1033000',
 '196000',
 '628000',
 '2466000',
 nan,
 '262000',
 '5309000',
 '2663000',
 '2214000',
 '1576000',
 '2234000',
 '1551000',
 '729000',
 '1251000',
 '3107000',
 '2626000',
 '1987000',
 '1703000',
 '3223000',
 '322000',
 '1138000',
 '64000',
 '415000',
 '2239000',
 '269000',
 '8289000',
 '2077000',
 '474000',
 '4587000',
 '1349000',
 '555000',
 '7110000',
 '492000',
 '1451000',
 '477000',
 '2136000',
 '3546000',
 '327000',
 '355000',
 '1942000',
 '904000',
 '1122000',
 '2250000',
 '118000',
 '313000\n',
 '1907',
 '2058000',
 nan,
 '176000',
 '1484000',
 '2054000',
 '733000',
 '1057000',
 '197000',
 '645000',
 '2505000',
 nan,
 '277000',
 '5384000',
 '2679000',
 '2217000',
 '1612000',
 '2249000',
 '1579000',
 '731000',
 '1257000',
 '3183000',
 '2693000',
 '1995000',
 '1728000',
 '3242000',
 '332000',
 '1149000',
 '68000',
 '423000',
 '2314000',
 '283000',
 '8499000',
 '2105000',
 '501000',
 '4630000',
 '1414000',
 '580000',
 '7253000',
 '505000',
 '1468000',
 '498000',
 '2136000',
 '3636000',
 '339000',
 '355000',
 '1952000',
 '967000',
 '1149000',
 '2268000',
 '125000',
 '317000\n',
 '1908',
 '2070000',
 nan,
 '186000',
 '1513000',
 '2161000',
 '757000',
 '1077000',
 '199000',
 '684000',
 '2543000',
 nan,
 '291000',
 '5474000',
 '2677000',
 '2220000',
 '1629000',
 '2263000',
 '1607000',
 '735000',
 '1269000',
 '3251000',
 '2722000',
 '2020000',
 '1753000',
 '3260000',
 '346000',
 '1161000',
 '73000',
 '428000',
 '2403000',
 '298000',
 '8714000',
 '2142000',
 '528000',
 '4677000',
 '1498000',
 '610000',
 '7398000',
 '519000',
 '1485000',
 '527000',
 '2164000',
 '3727000',
 '351000',
 '354000',
 '1994000',
 '1028000',
 '1174000',
 '2292000',
 '133000',
 '321000\n',
 '1909',
 '2108000',
 nan,
 '196000',
 '1545000',
 '2282000',
 '775000',
 '1097000',
 '201000',
 '724000',
 '2580000',
 nan,
 '311000',
 '5567000',
 '2678000',
 '2223000',
 '1658000',
 '2278000',
 '1634000',
 '740000',
 '1289000',
 '3316000',
 '2771000',
 '2051000',
 '1777000',
 '3279000',
 '363000',
 '1177000',
 '78000',
 '431000',
 '2487000',
 '314000',
 '8935000',
 '2174000',
 '555000',
 '4701000',
 '1585000',
 '643000',
 '7546000',
 '532000',
 '1502000',
 '553000',
 '2177000',
 '3821000',
 '363000',
 '356000',
 '2038000',
 '1091000',
 '1203000',
 '2317000',
 '141000',
 '327000\n',
 '1910',
 '2150000',
 nan,
 '206000',
 '1583000',
 '2406000',
 '804000',
 '1122000',
 '203000',
 '756000',
 '2618000',
 nan,
 '329000',
 '5668000',
 '2713000',
 '2228000',
 '1692000',
 '2299000',
 '1667000',
 '745000',
 '1302000',
 '3365000',
 '2832000',
 '2086000',
 '1802000',
 '3301000',
 '380000',
 '1198000',
 '82000',
 '431000',
 '2550000',
 '329000',
 '9137000',
 '2221000',
 '580000',
 '4786000',
 '1671000',
 '677000',
 '7706000',
 '545000',
 '1523000',
 '590000',
 '2191000',
 '3922000',
 '377000',
 '357000',
 '2071000',
 '1148000',
 '1231000',
 '2345000',
 '147000',
 '334000\n',
 '1911',
 '2185000',
 nan,
 '212000',
 '1610000',
 '2534000',
 '821000',
 '1149000',
 '207000',
 '773000',
 '2644000',
 nan,
 '343000',
 '5757000',
 '2751000',
 '2249000',
 '1684000',
 '2324000',
 '1695000',
 '751000',
 '1324000',
 '3383000',
 '2916000',
 '2119000',
 '1810000',
 '3317000',
 '397000',
 '1216000',
 '81000',
 '432000',
 '2610000',
 '334000',
 '9249000',
 '2276000',
 '584000',
 '4821000',
 '1714000',
 '692000',
 '7850000',
 '556000',
 '1548000',
 '602000',
 '2197000',
 '4016000',
 '387000',
 '358000',
 '2092000',
 '1167000',
 '1266000',
 '2369000',
 '150000',
 '344000\n',
 '1912',
 '2217000',
 nan,
 '217000',
 '1636000',
 '2668000',
 '832000',
 '1176000',
 '209000',
 '801000',
 '2676000',
 nan,
 '359000',
 '5828000',
 '2785000',
 '2279000',
 '1671000',
 '2347000',
 '1709000',
 '753000',
 '1345000',
 '3440000',
 '2997000',
 '2147000',
 '1817000',
 '3344000',
 '414000',
 '1232000',
 '81000',
 '434000',
 '2670000',
 '338000',
 '9361000',
 '2313000',
 '603000',
 '4893000',
 '1737000',
 '706000',
 '7986000',
 '567000',
 '1572000',
 '592000',
 '2218000',
 '4107000',
 '399000',
 '359000',
 '2122000',
 '1184000',
 '1291000',
 '2407000',
 '153000',
 '340000\n',
 '1913',
 '2279000',
 nan,
 '236000',
 '1664000',
 '2811000',
 '835000',
 '1208000',
 '213000',
 '828000',
 '2733000',
 nan,
 '371000',
 '5961000',
 '2824000',
 '2305000',
 '1663000',
 '2374000',
 '1727000',
 '763000',
 '1368000',
 '3534000',
 '3101000',
 '2190000',
 '1827000',
 '3409000',
 '433000',
 '1246000',
 '82000',
 '439000',
 '2729000',
 '344000',
 '9473000',
 '2362000',
 '609000',
 '4997000',
 '1777000',
 '722000',
 '8139000',
 '578000',
 '1599000',
 '584000',
 '2257000',
 '4207000',
 '410000',
 '361000',
 '2176000',
 '1209000',
 '1317000',
 '2438000',
 '157000',
 '358000\n',
 '1914',
 '2336000',
 nan,
 '253000',
 '1688000',
 '2934000',
 '846000',
 '1233000',
 '216000',
 '871000',
 '2776000',
 nan,
 '384000',
 '6109000',
 '2857000',
 '2338000',
 '1662000',
 '2395000',
 '1740000',
 '772000',
 '1389000',
 '3636000',
 '3183000',
 '2234000',
 '1832000',
 '3467000',
 '452000',
 '1264000',
 '83000',
 '442000',
 '2789000',
 '348000',
 '9585000',
 '2421000',
 '620000',
 '5109000',
 '1824000',
 '736000',
 '8276000',
 '589000',
 '1622000',
 '581000',
 '2289000',
 '4300000',
 '422000',
 '362000',
 '2241000',
 '1231000',
 '1362000',
 '2490000',
 '163000',
 '368000\n',
 '1915',
 '2345000',
 nan,
 '263000',
 '1702000',
 '3008000',
 '868000',
 '1258000',
 '217000',
 '922000',
 '2810000',
 nan,
 '394000',
 '6194000',
 '2873000',
 '2366000',
 '1687000',
 '2401000',
 '1755000',
 '774000',
 '1401000',
 '3705000',
 '3263000',
 '2273000',
 '1826000',
 '3492000',
 '469000',
 '1272000',
 '82000',
 '443000',
 '2850000',
 '351000',
 '9700000',
 '2473000',
 '641000',
 '5251000',
 '1860000',
 '745000',
 '8362000',
 '597000',
 '1635000',
 '585000',
 '2294000',
 '4368000',
 '430000',
 '360000',
 '2294000',
 '1239000',
 '1387000',
 '2535000',
 '167000',
 '361000\n',
 '1916',
 '2359000',
 nan,
 '282000',
 '1719000',
 '3071000',
 '892000',
 '1294000',
 '219000',
 '924000',
 '2856000',
 nan,
 '405000',
 '6274000',
 '2897000',
 '2376000',
 '1727000',
 '2411000',
 '1799000',
 '775000',
 '1415000',
 '3726000',
 '3353000',
 '2308000',
 '1823000',
 '3527000',
 '487000',
 '1275000',
 '82000',
 '445000',
 '2918000',
 '354000',
 '9848000',
 '2513000',
 '652000',
 '5366000',
 '1907000',
 '756000',
 '8463000',
 '598000',
 '1650000',
 '595000',
 '2304000',
 '4444000',
 '436000',
 '360000',
 '2316000',
 '1255000',
 '1414000',
 '2562000',
 '174000',
 '360000\n',
 '1917',
 '2361000',
 nan,
 '311000',
 '1737000',
 '3171000',
 '910000',
 '1327000',
 '222000',
 '895000',
 '2885000',
 nan,
 '413000',
 '6313000',
 '2910000',
 '2382000',
 '1748000',
 '2421000',
 '1795000',
 '777000',
 '1428000',
 '3738000',
 '3451000',
 '2329000',
 '1820000',
 '3470000',
 '505000',
 '1285000',
 '81000',
 '447000',
 '2976000',
 '361000',
 '9993000',
 '2546000',
 '661000',
 '5510000',
 '1960000',
 '763000',
 '8578000',
 '606000',
 '1675000',
 '599000',
 '2331000',
 '4563000',
 '444000',
 '372000',
 '2313000',
 '1287000',
 '1439000',
 '2587000',
 '186000',
 '385000\n',
 '1918',
 '2343000',
 nan,
 '320000',
 '1749000',
 '3262000',
 '906000',
 '1329000',
 '220000',
 '865000',
 '2941000',
 nan,
 '405000',
 '6275000',
 '2880000',
 '2351000',
 '1729000',
 '2425000',
 '1746000',
 '760000',
 '1467000',
 '3695000',
 '3499000',
 '2291000',
 '1813000',
 '3325000',
 '501000',
 '1266000',
 '77000',
 '440000',
 '3043000',
 '382000',
 '9936000',
 '2522000',
 '636000',
 '5547000',
 '1969000',
 '763000',
 '8524000',
 '604000',
 '1746000',
 '570000',
 '2288000',
 '4666000',
 '437000',
 '352000',
 '2359000',
 '1341000',
 '1438000',
 '2597000',
 '181000',
 '418000\n',
 '1919',
 '2337000',
 nan,
 '329000',
 '1742000',
 '3339000',
 '938000',
 '1359000',
 '221000',
 '898000',
 '2870000',
 nan,
 ...]

In [59]:
# convert data to float and reshape it to a 52 by 116 array
try:
    data_array = np.array(data,dtype=float).reshape((116,52)).T
except ValueError:
    pass

In [60]:
# convert to DataFrame
population_by_state = pd.DataFrame(data_array[1:,:],index=state[1:],columns = data_array[0,:].astype(int))
# preview
population_by_state.head()

,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
AL,1830000.0,1907000.0,1935000.0,1957000.0,1978000.0,2012000.0,2045000.0,2058000.0,2070000.0,2108000.0,...,4628981.0,4672840.0,4718206.0,4757938.0,4785822.0,4801695.0,4817484.0,4833996.0,4849377.0,4858979.0
AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,675302.0,680300.0,687455.0,698895.0,713856.0,722572.0,731081.0,737259.0,736732.0,738432.0
AZ,124000.0,131000.0,138000.0,144000.0,151000.0,158000.0,167000.0,176000.0,186000.0,196000.0,...,6029141.0,6167681.0,6280362.0,6343154.0,6411999.0,6472867.0,6556236.0,6634997.0,6731484.0,6828065.0
AR,1314000.0,1341000.0,1360000.0,1384000.0,1419000.0,1447000.0,1465000.0,1484000.0,1513000.0,1545000.0,...,2821761.0,2848650.0,2874554.0,2896843.0,2922297.0,2938430.0,2949300.0,2958765.0,2966369.0,2978204.0
CA,1490000.0,1550000.0,1623000.0,1702000.0,1792000.0,1893000.0,1976000.0,2054000.0,2161000.0,2282000.0,...,36021202.0,36250311.0,36604337.0,36961229.0,37336011.0,37701901.0,38062780.0,38431393.0,38802500.0,39144818.0

In [61]:
population_by_state.to_csv('population_by_state.csv')